.input-group{
  text-align: center;
}

.form-control{
  width: 50%;
  margin: 20px;
  padding: 15px 10px;
  border-radius: 10px;
  border:none;
  font-size: 15px;
}

.form-control:hover{
  box-shadow: 6px 1px 10px 5px grey;
  border:none;
}

.btn{
  padding: 16px 20px;
  border-radius: 8px;
  color: #fff;
  background: #18453B;
  font-weight: bold;
  border: none;
}

.btn:hover{
  box-shadow: 1px 1px 1px 2px #18453B;
}

.spinner {
  position: absolute;
  top: 40px;
  right: 250px;
}

/*  элемент спиннера - делаем круг из квадрата 40x40
    с помощью свойства border-radius, левая граница круга окрашена
    в другой цвет. далее запускаем бесконечную анимацию
*/
.spinner__animation {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  border-right: 3px solid rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  border-left: 3px solid rgb(129, 138, 145);
  animation: loading-spinner 0.5s infinite linear;
}

/* сама анимация вращения */
@keyframes loading-spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
